/*
__/\\\\\\\\\\\\\\\_________________________/\\\\\\_________________________________/\\\\\\\\\\\\\__________________________________        
 _\///////\\\/////_________________________\////\\\________________________________\/\\\/////////\\\________________________________       
  _______\/\\\_________/\\\______/\\\__________\/\\\________________________________\/\\\_______\/\\\________________________________      
   _______\/\\\________\///____/\\\\\\\\\\\_____\/\\\_________/\\\\\\\\______________\/\\\\\\\\\\\\\\____/\\\\\\\\\______/\\/\\\\\\\__     
    _______\/\\\_________/\\\__\////\\\////______\/\\\_______/\\\/////\\\_____________\/\\\/////////\\\__\////////\\\____\/\\\/////\\\_    
     _______\/\\\________\/\\\_____\/\\\__________\/\\\______/\\\\\\\\\\\______________\/\\\_______\/\\\____/\\\\\\\\\\___\/\\\___\///__   
      _______\/\\\________\/\\\_____\/\\\_/\\______\/\\\_____\//\\///////_______________\/\\\_______\/\\\___/\\\/////\\\___\/\\\_________  
       _______\/\\\________\/\\\_____\//\\\\\_____/\\\\\\\\\___\//\\\\\\\\\\_____________\/\\\\\\\\\\\\\/___\//\\\\\\\\/\\__\/\\\_________ 
        _______\///_________\///_______\/////_____\/////////_____\//////////______________\/////////////______\////////\//___\///__________

*/
.titleBar {
    -fx-background-color: linear-gradient(from 0.0% 100.0% to 100.0% 100.0%, #ffffff00 40%, #ff6f00 70%, #ff4d00 100.0%);
    -fx-background-radius: 0;
    -fx-opacity: 0.9;

    -fx-cursor: move;
}

.exitButton {
    -fx-background-color: rgba(0, 0, 0, 0.5);

    -fx-border-color: linear-gradient(to left, #ff6f00 0%, #ff4d00 100%);
    -fx-border-radius: 0;
    -fx-border-width: 1;

    -fx-cursor: hand;
}

.exitButton:hover {
    -fx-background-color: rgba(90, 0, 0, 0.6);
    -fx-border-color: #890000;
    -fx-border-radius: 0;
    -fx-border-width: 1;
}

.appLabel {
    -fx-font-size: 12;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-alignment: center;
    -fx-font-family: 'JetBrains Mono NL Light';
}

/*
________/\\\\\\\\\___/\\\\\\_________________________________________________________________________/\\\\\\\\\___________________________________________________        
 _____/\\\////////___\////\\\_______________________________________________________________________/\\\\\\\\\\\\\_________________________________________________       
  ___/\\\/_______________\/\\\______/\\\_____________________________________/\\\___________________/\\\/////////\\\________________________________________________      
   __/\\\_________________\/\\\_____\///_______/\\\\\\\\____/\\/\\\\\\_____/\\\\\\\\\\\_____________\/\\\_______\/\\\___/\\/\\\\\\\_______/\\\\\\\\____/\\\\\\\\\____     
    _\/\\\_________________\/\\\______/\\\____/\\\/////\\\__\/\\\////\\\___\////\\\////______________\/\\\\\\\\\\\\\\\__\/\\\/////\\\____/\\\/////\\\__\////////\\\___    
     _\//\\\________________\/\\\_____\/\\\___/\\\\\\\\\\\___\/\\\__\//\\\_____\/\\\__________________\/\\\/////////\\\__\/\\\___\///____/\\\\\\\\\\\_____/\\\\\\\\\\__   
      __\///\\\______________\/\\\_____\/\\\__\//\\///////____\/\\\___\/\\\_____\/\\\_/\\______________\/\\\_______\/\\\__\/\\\__________\//\\///////_____/\\\/////\\\__  
       ____\////\\\\\\\\\___/\\\\\\\\\__\/\\\___\//\\\\\\\\\\__\/\\\___\/\\\_____\//\\\\\_______________\/\\\_______\/\\\__\/\\\___________\//\\\\\\\\\\__\//\\\\\\\\/\\_ 
        _______\/////////___\/////////___\///_____\//////////___\///____\///_______\/////________________\///________\///___\///_____________\//////////____\////////\//__

*/
.clientArea {
    -fx-background-color: rgba(6, 6, 6, 0.85);
    -fx-background-radius: 0;

    -fx-border-color: linear-gradient(to left, #ff6f00 0%, #ff4d00 100%);
    -fx-border-radius: 0;
    -fx-border-width: 1;
}

/* 
 __ __  __      
|_ /  \|__)|\/| 
|  \__/| \ |  | 
                
*/

.inputBoxLabel {
    -fx-font-size: 12;
    -fx-text-fill: rgb(255, 111, 0);
    -fx-alignment: center;
    -fx-font-family: 'JetBrains Mono NL Light';
}

.inputBoxTextField {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to left, #ff6f00 0%, #ff4d00 100%);
    -fx-border-radius: 0;
    -fx-border-width: 0.2;

    -fx-font-size: 12;
    -fx-text-fill: rgb(255, 77, 0);
    -fx-alignment: center;
    -fx-font-family: 'JetBrains Mono NL Light';

    -fx-prompt-text-fill: #760000;

    -fx-highlight-fill: #ff6f00;
    -fx-highlight-text-fill: #000000;
}




.inputBoxGroupLabel {
    -fx-font-size: 12;
    -fx-text-fill: rgb(255, 111, 0);
    -fx-alignment: center;
    -fx-font-family: 'JetBrains Mono NL Light';
}

.inputBoxGroupLabelContainer {
    -fx-border-style: segments(3, 3);
    -fx-border-width: 0.2 0.2 0 0.2;
    -fx-border-color: linear-gradient(to left, #ff6f00 0%, #ff4d00 100%);
}


.userLogContainer {
    -fx-border-style: segments(3, 3);
    -fx-border-width: 0.2 0 0.2 0;
    -fx-border-color: linear-gradient(to left, #ff6f00 0%, #ff4d00 100%);
}

/* 
 __      __     __  __      __  __  
|  \ /\ (_ |__||__)/  \ /\ |__)|  \ 
|__//--\__)|  ||__)\__//--\| \ |__/ 
                                    
*/

.dashboard {
    -fx-background-color: transparent;
    -fx-border-style: segments(3, 3);
    -fx-border-width: 0.2;
    -fx-border-color: linear-gradient(to left, #ff6f00 0%, #ff4d00 100%);
}

.dbLabels {
    -fx-font-size: 12;
    -fx-text-fill: rgb(255, 111, 0);
    -fx-alignment: center;
    -fx-font-family: 'JetBrains Mono NL Light';
}

.customButton {
    -fx-border-color: linear-gradient(to left, #ff6f00 0%, #ff4d00 100%);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 3;
    -fx-cursor: OPEN_HAND;
}

.customButtonLabel {
    -fx-font-size: 20;
    -fx-text-fill: rgb(255, 111, 0);
    -fx-alignment: center;
    -fx-font-family: 'JetBrains Mono NL Light';
}

.customButton:hover {
    -fx-background-color: linear-gradient(to right, #ff6f00 0%, #ff4d00 100%);
    -fx-border-width: 0;
}

.customButton:hover .customButtonLabel {
    -fx-text-fill: #000000e2;
}

.customButton:pressed {
    -fx-cursor: CLOSED_HAND;
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
}

/* 

┌─┐┌─┐┌─┐┬  ┬┌─┐┌─┐┌┬┐┬┌─┐┌┐┌  ┬  ┌─┐┌─┐
├─┤├─┘├─┘│  ││  ├─┤ │ ││ ││││  │  │ ││ ┬
┴ ┴┴  ┴  ┴─┘┴└─┘┴ ┴ ┴ ┴└─┘┘└┘  ┴─┘└─┘└─┘

 */

 .appLogContainer{
    -fx-border-style: segments(3, 3);
    -fx-border-width: 0.2 0 0.2 0 ;
    -fx-border-color: linear-gradient(to left, #ff6f00 0%, #ff4d00 100%);
 }

.appLogLabel {
    -fx-font-size: 12;
    -fx-text-fill: rgb(255, 111, 0);
    -fx-alignment: center;
    -fx-font-family: 'JetBrains Mono NL Light';
}

.appLogTextField {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to left, #ff6f00 0%, #ff4d00 100%);
    -fx-border-radius: 0;
    -fx-border-width: 1;

    -fx-font-size: 12;
    -fx-text-fill: rgb(255, 77, 0);
    -fx-alignment: center;
    -fx-font-family: 'JetBrains Mono NL Light';

    -fx-prompt-text-fill: #760000;

    -fx-highlight-fill: #ff6f00;
    -fx-highlight-text-fill: #000000;
}

.appLogButtonLabel {
    -fx-font-size: 12;
    -fx-text-fill: rgb(255, 111, 0);
    -fx-alignment: center;
    -fx-font-family: 'JetBrains Mono NL Light';
}

.appLogButton {
    -fx-border-color: linear-gradient(to left, #ff6f00 0%, #ff4d00 100%);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-cursor: OPEN_HAND;
}

.appLogButton:hover {
    -fx-background-color: linear-gradient(to right, #ff6f00 0%, #ff4d00 100%);
    -fx-border-width: 0;
}

.appLogButton:hover .appLogButtonLabel {
    -fx-text-fill: #000000e2;
}

.appLogButton:pressed {
    -fx-cursor: CLOSED_HAND;
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}